.App {
  font-family: sans-serif;
}

.carousel-container {
  margin: 20px;
}

.selected-image {
  width: 100%;
  height: 500px;
  margin-bottom: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel {
  position: relative;
}

.carousel__images {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  overflow-x: hidden;
}

.carousel__image-selected {
  border: 3px solid #ffa700 !important;
}

.carousel__image {
  margin-right: 10px;
  height: 104px;
  min-width: 89px;
  border: 3px solid #ffa70000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100;
}

.carousel__button {
  position: absolute;
  top: 40%;
}

.carousel__button-left {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  left: 10px;
}

.carousel__button-right {
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #d58e32;
  color: white;
}

@media (max-width: 500px) {
  .App {
    font-family: sans-serif;
  }

  .carousel-container {
    margin: 20px;
  }

  .selected-image {
    width: 100%;
    height: 300px;
    margin-bottom: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .carousel {
    position: relative;
  }

  .carousel__images {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    overflow-x: hidden;
  }

  .carousel__image-selected {
    border: 3px solid #ffa700 !important;
  }

  .carousel__image {
    margin-right: 10px;
    height: 104px;
    min-width: 89px;
    border: 3px solid #ffa70000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100;
  }

  .carousel__button {
    position: absolute;
    top: 40%;
  }

  .carousel__button-left {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    left: 10px;
  }

  .carousel__button-right {
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #d58e32;
    color: white;
  }
}
